.screenContainer {
    display: flex;
    height: 100vh;
    background-color: rgb(250, 250, 250);
}


/* styling the dashboard section */
.screenContainer .maindashboard {
    height: 100vh;
    overflow-y: scroll;
    width: 100%;
}


.mainscreen {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    align-items: flex-start;
  
}



.mainscreenleft {
    width: 60%;
    margin-bottom: 50px;
    position: relative;
}



.helpCard{
    width:100%;
    border-radius: 15px;
    margin-bottom: 20px;
    overflow: hidden;
    margin-top: 10px;
    background-color: #fff;
    cursor: pointer;
}


.header{
    width:100%;
    background-color: #ee0979;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header h4{
    color:#fff;
    font-size: 1.1rem;
}

.header span{
    font-size: 1rem;
    padding: 3px;
    border-radius: 100%;
    color: #fff;
    background-color: orange;
    cursor: pointer;
}

.body{
    padding:10px;
}

.body p{
    color:black;
    font-size: 1rem;
}


.form{
    width:100%;
    background-color: #fff;
    display: inline-block;
    border-radius:5px;
    box-shadow: 0 2px 5px rgba(136, 136, 136, 0.1);
    overflow: hidden;
    margin-top: 30px;
    box-sizing: border-box;
   

}



.form .formbody{
    padding:10px
}

.options{
    display:flex;
    justify-content: space-between;

}
.options p{
    font-size: 1rem;
    font-family: Poppins;
    color: rgb(70, 70, 70);
    cursor: pointer;

}

.form input,.form button,.form select{
    width: 100%;
    height:50px;
    background-color: rgb(247, 247, 247);
    border-radius: 30px;
    border: none;
    margin-bottom: 15px;
    box-sizing: border-box;
    padding:10px;

}

.form button{
    background-color: #ee0979;
    color: #fff;
    font-size: 1rem;
    font-family: Poppins;
}





/* small laptop screens */
@media screen and (max-width:1024px) {}

/* ipad screens */

@media screen and (max-width:768px) {
    .mainscreen {
        display: flex;
        flex-direction: column;
        padding-left: 5px;
    }
    
    .screenContainer .maindashboard {
        width: 78%;
    }

    .mainscreenleft {
        width: 98%;
    }



    


}


/* mobile screen*/

@media screen and (max-width: 480px) {
    

    .screenContainer .maindashboard {
        width: 100%;
    }

    /* dashboard */
    .screenContainer .maindashboard {
        height: 90vh;
        overflow-y: scroll;
    }
    .mainscreen {
        padding-left: 0px;
        align-items: center;
    }
   

   
   


}


@media screen and (max-width: 350px) {

   
 


}