.screenContainer {
    display: flex;
    height: 100vh;
    background-color: rgb(253, 253, 253);
}

/*  end of styling the sidebar */
.screenContainer .maindashboard {
    width: 83%;
}

/* styling the dashboard section */

.mainscreen {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.mainscreenleft {
    width: 60%;
}

.mainscreenright{
    width:50%
}





.screenContainer .maindashboard {
    height: 100vh;
    overflow-y: scroll;
}



/* charts section*/

.chartSection {
    width: 100%;
    display: flex;
    padding-top: 10px;
    background-color: #fff;
}



/* credit card */
.cardContainer {
    width: 100%;
    margin: 5px;
    position: relative;
    text-align: center;
    height: 300px;
    margin-top: 10px;

}

.creditCard,
.yellowcreditCard {
    background-color: #ee0979;
    border-radius: 10px;
    padding: 5px;
    z-index: 1;
    overflow: hidden;
    padding-top: 50px;


}

.creditCard {
    width: 90%;
    z-index: 5;
    position: absolute;
    top:60px;
    height:200px

}

.yellowcreditCard {
    background-color: orange;
    position: absolute;
    top: 20px;
    z-index: 1;
    width: 80%;
    left:15px;
    padding-top: 10px;
    height:200px;

}

.creditCard h2 {
    color: #fff;
    position: relative;
    top: -15px;
    left: -20px;

}

.creditCard .circleContainer {
    position: absolute;
    top: -60px;
    display: flex;
    gap: 5px;
    left: -20px;

}

.creditCard .circle {
    background-color: rgba(250, 250, 250, 0.3);
    width: 170px;
    height: 120px;
    border-radius: 100%;
    position: relative;


}


.creditCard .cardInfo {

    margin-top: 40px;
    width: 100%
}

.creditCard .cardInfo h3 {
    font-size: 1.2rem;
    color: #fff;
    width: 100%;

}

.creditCard .cardInfo p {
    font-size: 1.4rem;
    color: #fff
}

.creditCard .cardInfo {}

.creditCard .circle:nth-of-type(2) {
    position: relative;
    left: -50px;
    top: -26px
}


.buttonContainer{
    width:100%;
    padding: 10px;

}

.buttonContainer button{
    width:97%;
    border:none;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 30px;
    background-color: #ee0979;
    color:#fff;
    margin-bottom: 10px;
    font-size: 1rem;
}
.buttonContainer button:nth-of-type(1){
    background-color: rgb(226, 255, 226);
    color: #ee0979;
}





/* small laptop screens */
@media screen and (max-width:1024px) {}

/* ipad screens */

@media screen and (max-width:768px) {


    .mainscreen {
        display: flex;
        flex-direction: column;
        padding-left: 5px;
    }



    .mainscreenleft {
        width: 100%;
    }

    .mainscreenright {
        width: 100%;

    }


    .screenContainer .maindashboard {
        width: 78%;
    }





    /* styling the chart section */
    .chartSection {
        width: 100%;
    }


    /* styling the chart section */
    .recent {
        width: 100%;
    }

    .mainscreenright .menuContainer {
        grid-template-columns: 48% 48%;
    }



}


/* mobile screen*/

@media screen and (max-width: 480px) {
    .screenContainer {
        height: 87vh
    }

    .screenContainer .maindashboard {
        width: 100%;
    }

    /* dashboard */
    .screenContainer .maindashboard {
        height: 90vh;
        overflow-y: scroll;
    }





    .mainscreen {
        padding-left: 0px;
    }




    /* charts section*/

    .chartSection {
        width: 97%;

    }

    /*styling recent*/
    .recentContainer p {
        font-size: .8rem;
    }

    .chartInfo {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
    }

    .chart {
        display: flex;
        gap: 20px;
        margin-bottom: 30px;
        justify-content: flex-start;
    }















}

@media screen and (max-width: 480px) {
    .chartSection {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 10px;

    }

    .chartContainerleft {
        width: 97%;
        height: 230px
    }

    .chartContainerright {
        width: 97%;
    }

    .chart {
        display: flex;
        gap: 20px;
        margin-bottom: 30px;
    }

    .chartBar {
        width: 5%
    }

    /* credit card */
    .cardContainer {
        width: 97%;

    }







}


@media screen and (max-width: 280px) {

    .mainscreenright .menuContainer {
        grid-template-columns: 100%;
    }

    .recentContainer {
        flex-direction: column;
        align-items: center;
    }




}