.screenContainer {
    display: flex;
    height: 100vh;
    background-color: rgb(250, 250, 250);
}


/* styling the dashboard section */
.screenContainer .maindashboard {
    height: 100vh;
    overflow-y: scroll;
    width: 100%;
}


.mainscreen {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    align-items: flex-start;
}

.mainscreenleft {
    width: 60%;
    margin-bottom: 50px;
}

.body{
    width:100%;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    margin-top: 10px;
    background-color: #fff;
    padding: 15px;
   
}
.body .card{
    
    margin-bottom: 30px;
}

.body .card .head span{
    padding:2px;
    background-color: #ee0979;
    border-radius: 100%;
    margin-right: 10px;
    color:#fff;
    font-size: 1rem;
}

.body .card .head{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}


.body .card p{
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: black;
}











/* small laptop screens */
@media screen and (max-width:1024px) {}

/* ipad screens */

@media screen and (max-width:768px) {
    .mainscreen {
        display: flex;
        flex-direction: column;
        padding-left: 5px;
    }
    
    .screenContainer .maindashboard {
        width: 78%;
    }

    .mainscreenleft {
        width: 98%;
    }



    
    


}


/* mobile screen*/

@media screen and (max-width: 480px) {
    

    .screenContainer .maindashboard {
        width: 100%;
    }

    /* dashboard */
    .screenContainer .maindashboard {
        height: 90vh;
        overflow-y: scroll;
    }
    .mainscreen {
        padding-left: 0px;
        align-items: center;
    }
  

   
   


}


@media screen and (max-width: 350px) {

    

 


}