
/* styling the tab section */
.tab {
    width: 100%;
    display: none;
    background-color: #fff;
    z-index: 10;
    position: sticky;
    bottom: 0px;
    right: 0px;
    left: 0px;
    /*border-top: 1px solid rgb(228, 228, 228);*/
    box-shadow: 5px 2px 0px rgba(136, 136, 136, 0.1);
}

.tabsection,
.tabsectionMiddle {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.tabsectionMiddle {
    position: relative;
}

.tabsectionMiddle span {
    background-color: #fff;
    padding: 15px;
    border-radius: 100%;
    position: absolute;
    top: -47px;
    box-shadow: 0 2px 2px 3px rgba(182, 182, 182, 0.1);
}


.tabsection p {
    font-weight: 700;
    color: rgb(105, 105, 105);
    margin-bottom: 0px;
    padding: 0px;
    font-size: .8rem;


}

.tabsection span {
    font-size: 1.3rem;
    color: #ee0979;
    margin-bottom: 0px;
    padding: 0px;

}

.tabsection:nth-of-type(1) {}


/* small laptop screens */
@media screen and (max-width:1024px) {}

/* ipad screens */

@media screen and (max-width:768px) {
   



}


/* mobile screen*/

@media screen and (max-width: 480px) {
   
    /* tab section */
    .tab {
        display: flex;
        background-color: #fff;
        height: 13vh;
        align-items: center;
    }





}


@media screen and (max-width: 230px) {
    .tabsection p {
        font-size: .6rem;


    }

    .tabsection span {
        font-size: 1.1rem;

    }

    .tabsectionMiddle span {
        padding: 10px;
    }

}